.frinedsInfo {
  position: absolute;
  /* background-color: #fff; */
  width: 90%;
  height: 60%;
  left: 5%;
  top: 30%;
  border-radius: 20px;
}

.friendsCategorySet {
  position: absolute;
  /* background-color: #564d96; */
  width: 84%;
  left: 8%;
  height: 5%;
  display: flex;
  flex-wrap: nowrap;
}
.friendsCategory {
  /* background-color: #c7d6ff; */
  background-color: #87a7ff;
  width: 25%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  color: #fff;
  border-top: 0.4rem solid;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: bold;
}
.friendsList {
  overflow-y: scroll;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 5%;
  background-color: #c7d6ff;
  width: 100%;
  height: 95%;
  border-radius: 30px;
  border: #fff 0.4rem solid;
}

.firendName {
  position: relative;
  width: 90%;
  padding-bottom: 10%;
  padding-top: 3%;
  /* top: 10%; */
  font-size: 0.8rem;
  /* font-weight: bold; */
}
.firendName span {
  position: absolute;
  right: 0;
}
.frinedInfo {
  top: 30%;
  left: 5%;
  position: absolute;
}
.checkBox {
  z-index: 10;
  position: absolute;
  right: 5%;
  padding-top: 2%;
}
