.remittanceWrapper {
  position: absolute;
  width: 90%;
  height: 50%;
  left: 5%;
  top: 30%;
  border-radius: 20px;
  /* background-color: #fff; */
}

.remittanceFriend {
  width: 96%;
  height: 50%;
  background-color: #fff;
  position: absolute;
  left: 2%;
  border-radius: 20px;
  /* border: solid 0.1rem; */
  top: 2%;
}
.remittanceEnvelope {
  position: absolute;
  width: 96%;
  height: 80%;
  /* background-color: #ffe07a; */
  left: 2%;
  top: 30%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  /* border: solid 0.1rem; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.remittanceContent {
  display: flex;
  position: absolute;
  width: 96%;
  height: 40%;
  left: 2%;
  top: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.remittanceContent input {
  background: transparent;
  /* border: #6e96ff dashed 6px; */
  /* border: #6e96ff solid; */
  width: 13rem;
  height: 3rem;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #6e96ff;
}
.remittanceContentTitle {
  font-size: 2rem;
  font-weight: bold;
  z-index: 3;
  position: absolute;
  left: 30%;
  top: 20%;
  /* width: 80%; */
}
.remittanceContentMoney {
  font-size: 2rem;
  font-weight: bold;
}

.triangle-left {
  /* width: 96%; */
  height: 70%;
  border-left: 80px solid transparent;
  border-right: 300px solid #ffe07a;
  border-top: 100px solid transparent;
  position: absolute;
  right: 0;
}

.triangle-right {
  /* width: 96%; */
  height: 70%;
  border-left: 300px solid #ffe07a;
  border-right: 80px solid transparent;
  border-top: 100px solid transparent;
  position: absolute;
  left: 0;
}
