.back {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.6s linear;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 20px;
  background-image: url("../../assets/card2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.flipment {
  position: absolute;
  right: 5%;
  bottom: 8%;
  font-size: 0.8rem;
  font-weight: 100;
}

.studentIdWrapper.flipped .front {
  transform: rotateY(180deg);
}

.studentIdWrapper.flipped .back {
  transform: rotateY(0deg);
}

.cardInfo {
  position: absolute;
  left: 30%;
  align-items: center;
  font-size: large;
}
