.studentIdWrapper {
  width: 90%;
  height: 20%;
  background-color: #fff;
  position: absolute;
  left: 5%;
  top: 7%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.studentInfo {
  position: absolute;
  left: 5%;
  font-weight: bold;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}
.studentTextInfo {
  position: relative;
  left: 5%;
}
