.mapCard {
  color: white;
  display: flex;
}
.Mybutton {
}

.box {
  background-color: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.bankCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}

.title {
  margin-left: 1rem;
}

.locationWrapper {
  display: flex;
}

.locationWrapper a {
  text-decoration: none;
  font-size: 2.2rem;
  margin-top: 0.3rem;
}
