.ConsumeLog {
  color: white;
}

.CompareCircleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

.CompareGraphWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0%;
}

.ShowCalendarButton {
  display: block;
  margin: 0 auto;
  padding: 5px 10px;
  background-color: transparent;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}
