@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

$ruler: 16px;
$color-red: #ae1100;
$color-bg: #ebecf0;
// $color-bg: #c6d5ff;
$color-shadow: #babecc;
$color-white: #fff;
// $color-shadow: rgb(155, 160, 177);
// $color-white: #cfdbfb;

body,
html {
  background-color: $color-bg;
}

body,
p,
input,
select,
textarea,
button {
  font-family: "NanumSquareRound";
  // letter-spacing: -0.2px;
  font-size: $ruler;
}

.logindiv {
  color: $color-shadow;
  text-shadow: 1px 1px 1px $color-white;
}
.loginp {
  color: $color-shadow;
  text-shadow: 1px 1px 1px $color-white;
}

.loginform {
  padding: $ruler;
  width: $ruler * 20;
  margin: 0 auto;
}

.loginsegment {
  padding: $ruler * 2 0;
  text-align: center;
}

.loginbutton {
  border: 0;
  outline: 0;
  font-size: $ruler;
  border-radius: $ruler * 20;
  padding: $ruler;
  background-color: $color-bg;
  text-shadow: 1px 1px 0 $color-white;
}

.logininput {
  border: 0;
  outline: 0;
  font-size: $ruler;
  border-radius: $ruler * 20;
  padding: $ruler;
  background-color: $color-bg;
  text-shadow: 1px 1px 0 $color-white;
}

.loginlabel {
  display: block;
  margin-bottom: $ruler * 1.5;
  width: 100%;
}

.logininput {
  margin-right: $ruler/2;
  box-shadow: inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;

  &:focus {
    box-shadow: inset 1px 1px 2px $color-shadow,
      inset -1px -1px 2px $color-white;
  }
}

.loginbutton {
  color: #61677c;
  font-weight: bold;
  // box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
  box-shadow: -2px -2px 10px $color-white, 5px 5px 10px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }

  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow,
      inset -1px -1px 2px $color-white;
  }

  .icon {
    margin-right: $ruler/2;
  }

  &.unit {
    border-radius: $ruler/2;
    line-height: 0;
    width: $ruler * 3;
    height: $ruler * 3;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 $ruler/2;
    font-size: $ruler * 1.2;

    .icon {
      margin-right: 0;
    }
  }

  &.red {
    display: block;
    width: 100%;
    color: $color-red;
  }
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  label {
    margin: 0;
    flex: 1;
  }
}
