.box1 {
  position: absolute;
  top: 30%;
  left: 5%;
}

.box2 {
  position: absolute;
  top: 30%;
  right: 5%;
}

.box3 {
  position: absolute;
  top: 50%;
  left: 5%;
}

.box4 {
  position: absolute;
  top: 50%;
  right: 5%;
}

.box5 {
  position: absolute;
  top: 70%;
  left: 5%;
}
.box6 {
  position: absolute;
  top: 70%;
  right: 5%;
}
