.favoritePlaceContianer {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  padding-top: 2%;
}
.favoritePlaceBox {
  border-radius: 20px;
  height: 180px;
  width: 90%;
  background-color: rgb(255, 255, 255);
  display: flex;
}
.favoritePlaceImgBox {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.favoritePlaceImgBoxContextBox {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.favoritePlaceContent {
  text-align: center;
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  line-height: normal;
}

.favoritePlaceContent p {
  /* word-wrap: break-word; */
  /* overflow-wrap: break-word; */
  /* white-space: pre-wrap; */
  margin: 0.2em 0;
}

.address {
  font-size: 0.8em;
}
