.favortieModalContainer {
  /* position: absolute;
  bottom: 0;
  height: 60%;
  width: 100%;
  background-color: #c6d5ff;
  border-radius: 20px 20px 0 0; */
  position: absolute;
  bottom: -52%;
  height: 52%;
  width: 100%;
  background-color: #c6d5ff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  /* Transition 설정 */
  transition-property: bottom;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.favortieModalContainer.show {
  bottom: 0; /* 최종 위치를 위로 설정 */
}
.favortieModalContainer.fullScreen {
  height: 92%;
  bottom: 0;
}
.favortieModalContainerMiddle {
  position: absolute;
  bottom: 0;
  height: 52%;
  width: 100%;
  background-color: #c6d5ff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.favoriteModalLine {
  width: 50%;
  height: 5px;
  background-color: #6f96ff;
  position: absolute;
  left: 25%;
  top: 3%;
  border-radius: 40px;
}
.favoritePlacesContainer {
  height: 80%;
  width: 100%;
  display: flex;
  /* margin-top: 5%; */
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  /* background-color: red; */
}
.favoriteModalTitle {
  font-size: 1.2rem;
  padding-top: 8%;
  padding-bottom: 1%;
  text-align: center;
}

/* .favoriteModalMore {
  position: relative;
  right: 0;
} */
